.history {
  position: absolute;
  right: 0;
  top: 20px;
  width: 419px;
  background: #fff;
  border-radius: 9px 0px 0px 9px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  min-height: 571px;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }

  &__parameter {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
  }
}
